.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

.icon {
  display: inline;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: violet;
  width: 100%;
  height: 7%;
  border-bottom: 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .time {
  margin: 0 0 0 30px;
  padding: 15px 0;
  font-size: 23px;
}

header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

header .header-right [alt=weather] {
  margin: _;
  width: 35px;
  height: 100%;
}

header .header-right .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-right .filter [alt=search] {
  margin: 0 7px 0 30px;
  width: 20px;
  height: _;
}

header .header-right .filter .select-option {
  margin: 0 10px 0 0;
  padding: 3px;
  font-size: 16px;
}

header .header-right .filter .search {
  padding: 4px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .board-list {
  margin: 80px 0 0 0;
  padding: 0 30px;
}

main .board-list > a {
  display: block;
  text-decoration: none;
  color: black;
  margin: 0 30px 30px 30px;
}

main .board-list > a .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  border: 1px solid;
  list-style: none;
}

main .board-list > a .list .list-date {
  width: 9%;
  font-size: 20px;
  border-right: 1px solid;
  text-align: center;
}

main .board-list > a .list .list-date > .day {
  margin: 0;
  border-bottom: 1px solid;
  background-color: #eee;
  text-align: center;
  line-height: 2;
}

main .board-list > a .list .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .board-list > a .list .contents .text {
  margin-left: 40px;
}

main .board-list > a .list .contents .text .list-title {
  margin: 10px 0;
  width: 500px;
  height: _;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main .board-list > a .list .contents [alt=feeling] {
  margin: 0 40px 0 0;
  width: 6%;
  height: 60%;
}

.more {
  margin: 10px 0 0 0;
  width: 160px;
  height: 70px;
  font-size: 18px;
  border: 1px solid;
  border-radius: 50%;
  margin-bottom: 100px;
  cursor: pointer;
}

.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: violet;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-list li {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-list li .nav-icon {
  width: 20%;
  height: 50%;
  cursor: pointer;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

.contents-container {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: violet;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-list li {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-list li .nav-icon {
  width: 20%;
  height: 50%;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */