.main {
  background: url("../images/paper_445117.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: bisque;
}

.main__title {
  -webkit-animation: fadein 1s ease-in-out;
          animation: fadein 1s ease-in-out;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 40px;
}

.main__subtitle, .main__date {
  -webkit-animation: fadein 2s ease-in-out;
          animation: fadein 2s ease-in-out;
  font-size: 30px;
  margin-bottom: 40px;
}

.main a {
  -webkit-animation: fadein 4s ease-in-out;
          animation: fadein 4s ease-in-out;
  font-size: 40px;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"]:checked + img {
  outline: 2px solid blueviolet;
}

.face-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 100vh;
  width: 100%;
}

.face-header {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.face-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.face-icons .far,
.face-icons .fas {
  cursor: pointer;
  height: 40px;
}

.face-button {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
}

.calendar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar-header span {
  font-weight: 600;
}

.calendar-main {
  padding: 10px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar-main__days {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.calendar-main__days .day {
  font-weight: 600;
  padding: 10px;
}

.calendar-main__days .day:first-child {
  color: red;
}

.calendar-main__days .day:last-child {
  color: blue;
}

.calendar-main__dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar-main__dates .dates-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.calendar-main__dates .dates-line .dates-box:first-child {
  color: red;
}

.calendar-main__dates .dates-line .dates-box:last-child {
  color: blue;
}

.calendar-main__dates .dates-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  padding: 5px 8px;
}

.calendar-main__dates .dates-day {
  font-size: 20px;
}

.calendar-main__dates img {
  height: 20px;
}
/*# sourceMappingURL=index2.css.map */