.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

.icon {
  display: inline;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #d5d5d3;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.detail-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: _;
  width: 100%;
  height: 25%;
  padding: 20px 0 0 0;
  background-color: #D5D5D3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: 23px;
}

.detail-header .time {
  margin: 0 0 0 30px;
  padding: 15px 0;
}

.detail-header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 0 0;
  margin-right: 30px;
}

.detail-header .header-right [alt=weather] {
  margin: _;
  width: 35px;
  height: 100%;
}

.detail-header .header-right .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-header .header-right .filter [alt=search] {
  margin: 0 7px 0 30px;
  width: 20px;
  height: _;
}

.detail-header .header-right .filter .select-option {
  margin: 0 10px 0 0;
  padding: 3px;
  font-size: 16px;
}

.detail-header .header-right .filter .search {
  padding: 4px;
}

.detail-main {
  margin: 0 auto;
  width: 1200px;
  height: 60%;
}

.board-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: 300px;
}

.list {
  background-color: #faf9f9;
  -webkit-box-shadow: 10px 60px 100px #000;
          box-shadow: 10px 60px 100px #000;
  width: 100%;
  height: 45%;
  list-style: none;
  position: relative;
  margin-bottom: 60px;
}

.list > a {
  text-decoration: none;
  color: #000;
}

.list .list-date {
  background: linear-gradient(135deg, #b0f2b7 0%, #64d4e0 100%);
  width: 15%;
  height: 100%;
  text-align: center;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list .list-date .day {
  margin: 0;
  padding-top: 10px;
  width: 100%;
  height: 23%;
}

.list .list-date .date {
  margin: 0;
  padding-top: 65px;
  width: 100%;
  height: 50%;
}

.contents {
  display: inline;
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 15%;
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
}

.contents-time {
  width: 20%;
  height: 14%;
  font-size: 1.3rem;
  display: inline-block;
  position: absolute;
  top: 15%;
  left: 7%;
}

.contents-date::before {
  content: "";
  display: inline-block;
  width: 13%;
  height: 74%;
  margin-top: -6px;
  background-image: url("/images/clock-solid.png");
  background-size: contain;
  vertical-align: middle;
  margin-right: 15px;
}

.list-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 500px;
  position: absolute;
  left: 7%;
  top: 35%;
}

.tag {
  position: absolute;
  top: 70%;
  left: 7%;
}

.feeling-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 6%;
  padding: 20px;
}

.more {
  margin-top: 500px;
}

.contents-container {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  background-color: lawngreen;
}

.contents-header {
  margin-top: 30px;
  background-color: lightcoral;
}

.contents-time_feeling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
}

.contents-day::after,
.contents-date::after {
  content: " /";
}

.contents-icon {
  margin: 0;
  margin-bottom: -10px;
  width: 4.5%;
  margin-left: 40px;
}

.contents-header::after {
  content: "";
  display: block;
  width: 590px;
  background-color: #000;
  height: 2px;
  margin-left: 310px;
  margin-top: 10px;
}
/*# sourceMappingURL=index.css.map */