.calendar-header {
  display: flex;
  justify-content: center;

  .year-month {
    margin-right: 20px;
  }
}

.calendar-main {
  border: 1px solid black;
  padding: 10px;
  margin-top: 30px;
  //   height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   align-items: center;

  .days {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;

    .day {
      padding: 10px;
      border: 1px solid black;
    }
  }

  .dates {
    display: flex;
    justify-content: space-around;

    &-box {
      margin-top: 5px;
      padding: 5px 8px;
      border: 1px solid black;
    }

    &-day {
      font-size: 20px;
    }
    img {
      height: 20px;
    }
  }
}
