.main {
  background: url("../images/paper_445117.jpg");
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: bisque;

  &__title {
    animation: fadein 1s ease-in-out;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  &__subtitle,
  &__date {
    animation: fadein 2s ease-in-out;
    font-size: 30px;
    margin-bottom: 40px;
  }
  a {
    animation: fadein 4s ease-in-out;
    font-size: 40px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
