@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap");

@import "detail/detail";
@import "contents/contents";
@import "write/write";

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: #d5d5d3;
}
