@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

@import "./main";
@import "./face";
@import "./calendar";

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
