header {
    background-color: salmon;
    width: 100%;
    display: flex;
}

.time {
    display: inline;
}

.icon {
    width: 60px;
}

// ul
.board-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
    margin-top: 20px;
}

// ul > date
.list-date {
    // border-width: 1px 1px 1px 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: inline-block;
    // margin-left: 20px;

}

.list-date>.day {
    border-bottom: 1px solid;
}

// ul > a
.board-list>a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
    margin: 0 20px 20px 20px;
}

// h2
.list-title {
    // display: inline-block;
    // width: 100px;
    // height: 100px;
    background-color: red;
    font-size: 20px;
    display: inline;
}

// li
.list {
    background-color: sandybrown;
    border: 1px solid;

}