

header{
    background-color: salmon;
    width: 100%;
    display: flex;
}

.time{
    display: inline;
}

.icon{
    width: 60px;
}

// ul
.board-list{
    padding-left: 0;
    list-style: none;
    margin: 0;
    margin-top: 20px;
}


// ul > a
.board-list > a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    
}

.board-list > .list > .title {
    // font-size: 400px;
    // font-size: 3rem
}

// li
.list{
    background-color: sandybrown;
    border: 1px solid;

}