
@mixin flexElement($flex, $jsCon, $alItem) {
    display: $flex;
    justify-content: $jsCon;
    align-items: $alItem;
}

@mixin MP ($mL, $mR, $p){
    margin-left: $mL;
    margin-right: $mL;
    padding: $p
}


body{
    margin: 0;
    box-sizing: border-box;
}

// 공통
.icon {
    display: inline;
}



// 헤더
header {
    @include flexElement(flex, space-between, center);
    
    width: 100%;
    border-bottom: 1px solid;
}


.time {

    @include MP(30px, _ , 15px 0);
    
    font-size: 20px;
}

.header-right {

    @include flexElement(flex, center, center);
    
    margin-right: 30px;
}

.filter{
    
    @include flexElement(flex, center, center);

}

.select-option{

    @include MP(_, 10px, 3px);

    font-size: 16px;
}

.search{
    padding: 4px;
}


[alt=search]{
    margin: 0 7px 0 30px;
    width: 20px;
}

[alt=weather]{
    width: 30px;
    height: 100%;
}


// 메인


main{

    @include flexElement(flex, center, center);

    flex-direction: column;
}
// ul
.board-list {
    margin-top: 40px;
    padding: 0;
    overflow-y: scroll;
    width: 100%;


     // ul > a
    & > a{
        display: block;
        text-decoration: none;
        color: black;
        margin: 0 30px 30px 30px;
    }
}

// li
.list {

    @include flexElement(flex);

    list-style: none;
    border: 1px solid;
}

// li > date 
.list-date {
    border-right: 1px solid;
    font-size: 20px; // 1em : 20px
    width: 9%;
    text-align: center;

    & > day{
        margin: 0;
        background-color: #eee;
        border-bottom: 1px solid;
        text-align: center;
        line-height: 2;
    }
}



.contents{

    @include flexElement(flex,space-between ,center );

    width: 100%;
}

// h2
.list-title {
    width: 500px;
    margin: 10px 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text{
    margin-left: 40px;
}



[alt=feeling] {
    width: 6%;
    height: 60%;
    margin-right: 40px;
}

.more{
    width: 160px;
    height: 70px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 50%;
}