
// 숨긴 컨텐츠
.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip-path: polygon(0 0, 0 0, 0 0);
}




.contents-container{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.navigation{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: violet;
    // margin-top: 1000px;
}
// ul
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    // background-color: violet;

    li{
        // background-color: red;
        text-align: center;
        margin: 0;
        padding: 0;

        .nav-icon{
            width: 20%;
            height: 50%;
            cursor: pointer;
        }
    }
}