// 컨테이너
.contents-container {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
    background-color: lawngreen;
}


.contents-header {
    margin-top: 30px;
    background-color: lightcoral;
}

.contents-time_feeling {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.contents-day::after,
.contents-date::after {
    content: " /";
}

.contents-icon {
    margin: 0;
    margin-bottom: -10px;
    width: 4.5%;
    margin-left: 40px;
}

.contents-header::after {
    content: "";
    display: block;
    width: 590px;
    background-color: #000;
    height: 2px;
    margin-left: 310px;
    margin-top: 10px;
}

