
.write-header{
    @include flexElement(flex, space-between, flex-start);
    @include MWH(_, 100%, 25%);
    padding: 20px 0 0 0 ;
    background-color: #D5D5D3;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 10;
    font-size: 23px;

    .time {
        @include MP(0 0 0 30px, 15px 0);
        // font-size: 23px;
        // background-color: royalblue;
    }
    
    .header-right {
        @include flexElement(flex, center, center);
        padding: 20px 0 0 0 ;
        margin-right: 30px;

        [alt=weather] {
            @include MWH(_, 35px, 100%);
        }

        .filter {
            @include flexElement(flex, center, center);

            [alt=search] {
                @include MWH(0 7px 0 30px, 20px, _);
            }

            .select-option {
                @include MP(0 10px 0 0, 3px);
                font-size: 16px;
            }

            .search {
                padding: 4px;
            }
        }

    }
}

.write-main{
    margin: 0 auto;
    margin-top: 300px;
    margin-bottom: 150px;
    width: 1200px;
    height: 60rem;
    background-color: rgb(250, 249, 249);
    border-radius: 70px;

    display: flex;
}

.write-inner{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60em;
    // width: 900px;
    // background-color: saddlebrown;
}

.write-title{
    margin-top: 2em;
    font-size: 25px;

    input {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid;
        outline: none;
        font-size: 20px;
        padding: 5px;
        // margin-bottom: 10px;
        // padding-bottom: 5px;

        margin-left: 15px;
        // background-color: turquoise;
        // background-color: rgb(88, 60, 24);
    }
}

.write-inner> textarea {
    // background-color: chocolate;
    // background-color: chocolate;
    border: none;
    background-color: transparent;
    height: 50%;
    outline: none;
    font-size: 30px;
    color: #aaa;
}

.write-tag{
    // background-color: cornflowerblue;
    margin-bottom: 30px;
    font-size: 25px;
}
